# Enable the rewrite engine
RewriteEngine On

# UPDATED: Set the base for the new local directory
RewriteBase /varuna/public/

# If the request is not for an existing file...
RewriteCond %{REQUEST_FILENAME} !-f
# ...and not for an existing directory...
RewriteCond %{REQUEST_FILENAME} !-d
# ...then redirect the request to index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]